@font-face {
    font-family: 'boulderdash';
    src: url('./img/boulderdash.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    border: 1px solid black;
}